@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #293241;
    margin: 0;
    color: white;
    padding: 0;
}

*:not(.material-symbols-outlined){
    font-family: "Maven Pro", sans-serif;
}